* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

header {
    /* background-color: #d1c8c8b6; */
    background-color: #FFFFFF;
    padding: 16px 120px;
    align-items: center;
    text-align: center;
    justify-content: space-between;

}

nav {
    display: flex;
    margin: 0 auto;
    /* border: 1px solid black; */
    align-items: center;
}

nav .logo {
    align-items: left;
    max-width: 139px;
}

nav .menu {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    gap: 32px;
    margin: 0 auto;
}

.btn {
    font-size: 16px;
    max-width: 164px;
    background-color: #469165;
    font-weight: 600;
    color: white;
    cursor: pointer;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
}

.btn:hover {
    color: white;
    transition: .3s;
    background-color: black;
}

ul li a {
    text-decoration: none;
    font: 16px;
    color: #000000;
}

nav a {
    text-decoration: none;
}


#banner {
    width: 1600px;
    height: 674px;
    justify-content: center;
    background-image: url("./assets/hero-bg.png");
    background-position: center;
    background-size: cover;
    margin-left: 0;
}

.banner-container {
    text-align: center;

}


/* Card Section Related Styles  */

.card-section {
    align-items: center;
}

.card-container {
    width: 85%;
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    gap: 24px;

}

.icon img {
    justify-content: center;

}

.card-heading {
    text-align: center;
    max-width: 1360;
    height: 152px;
}

.card-heading h2 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 16px;
}

.card-heading p {
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;

}

.card {
    padding: 55px 24px;
    max-width: 322px;
    height: 300px;
    background-color: #FFFFFF;
    /* border: 1px solid black; */
    align-content: center;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06);
}

.icon {
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.card-title,
.card-description {
    width: 273px;
}

.card-title {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

.card-description {
    font-size: 16px;
    line-height: 20px;
}


/* Brain Section Related Styles  */

#brain-section {
    margin: 120px;
}

#brain-section .brain-container {
    max-width: 1360px;
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
    margin: 0 auto;

}

#brain-section .brain-image img {
    max-width: 600px;
    height: 600px;

}

.brain-content {
    max-width: 700px;
}

.brain-content h5 {
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    line-height: 20px;
    margin-bottom: 16px;

}

.brain-content h1 {
    font-size: 48px;
    font-weight: 900;
    color: #001931;
    margin-bottom: 16px;

}

.brain-content p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}



.brain-content ul li {
    list-style-type: none;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 20px;
    color: #001931;

}

.brain-content .circle-green {
    color: #30B868;
}