* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

header {
    /* background-color: #d1c8c8b6; */
    background-color: #FFFFFF;
    padding: 16px 120px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

nav {
    display: flex;
    margin: 0 auto;
    /* border: 1px solid black; */
    align-items: center;
}

nav .logo {
    align-items: left;
    max-width: 139px;
}

nav .menu {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    gap: 32px;
    margin: 0 auto;
}

.btn {
    font-size: 16px;
    max-width: 164px;
    background-color: #469165;
    font-weight: 600;
    color: white;
    cursor: pointer;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
}
.fa-circle{
    color: #469165b0;
}


.btn:hover {
    color: white;
    transition: .3s;
    background-color: black;
}

ul li a {
    text-decoration: none;
    font: 16px;
    color: #000000;
}

nav a {
    text-decoration: none;
}


#banner {
    background: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    text-align: center;

}

#banner .banner-container {
    width: 85%;
    max-width: 1360px;
    padding: 115px 120px 178px;
    margin: 0 auto;


}

.banner-container .now-open-btn {
    max-width: 219px;
    font-size: 16px;
    padding: 12px;
    color: #469165;
    background-color: #FFFFFF;
    border: none;
    border-radius: 100px;
    margin-bottom: 16px;

}
.now-open-btn:hover{
    color: white;
    transition: .3s;
    background-color: black;

}

.banner-container h1 {
    font-size: 72px;
    font-weight: 900;
    line-height: 84px;
    margin-bottom: 16px;
}

.banner-container h1 .line-one {
    color: #FFFFFF;
}

.banner-container h1 .line-two {
    color: #30B868;
}

.banner-container p {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.banner-container two-btn {
    max-width: 465px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 16px;

}

.banner-container .primary-btn {
    padding: 16px;
    margin-right: 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
}

.primary-btn:hover {
    color: white;
    transition: .3s;
    background-color: black;
}

.banner-container .secondary-btn {
    padding: 16px;
    border: none;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    color: #FFFFFF;
}

.secondary-btn:hover {
    color: black;
    transition: .3s;
    background-color: white;
}



/* Card Section Related Styles  */

.card-section {
    align-items: center;
}

.card-container {
    width: 85%;
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    gap: 24px;

}

.icon img {
    justify-content: center;

}

.card-heading {
    text-align: center;
    max-width: 1360;
    height: 152px;
}

.card-heading h2 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 16px;
    padding-top: 15px;
}

.card-heading p {
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;

}

.card {
    padding: 55px 24px;
    max-width: 322px;
    height: 300px;
    background-color: #FFFFFF;
    /* border: 1px solid black; */
    align-content: center;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06);
}

.icon {
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.card-title,
.card-description {
    width: 273px;
}

.card-title {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

.card-description {
    font-size: 16px;
    line-height: 20px;
}


/* Brain Section Related Styles  */

#brain-section {
    margin: 120px;
}

#brain-section .brain-container {
    max-width: 1360px;
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
    margin: 0 auto;

}

#brain-section .brain-image img {
    max-width: 600px;
    height: 600px;

}

.brain-content {
    max-width: 700px;
}

.brain-content h5 {
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    line-height: 20px;
    margin-bottom: 16px;

}

.brain-content h1 {
    font-size: 48px;
    font-weight: 900;
    color: #001931;
    margin-bottom: 16px;

}

.brain-content p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}



.brain-content ul li {
    list-style-type: none;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 20px;
    color: #001931;

}

.brain-content .circle-green {
    color: #30B868;
}


/* Early Access Section related Styles */

#early-access-section {
    margin: 0 120px 120px 120px;
}

.early-access-container {

    max-width: 1360px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #F7F6F2;
    padding: 80px 40px;
    gap: 24px;
    margin: 0 auto;
    text-align: center;
    border: none;
    border-radius: 12px;

}

.access-heading,
.explore-message {
    margin: 0 auto;
    max-width: 1280px;
}

.access-heading h1 {
    font-size: 40px;
    font-weight: 900;
    color: 001931;
    margin-bottom: 16px;
}

.access-heading p {
    font-size: 16px;
    color: #627382;
    line-height: 24px;
}

.explore-message .btn {
    max-width: 193px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.explore-message h6 {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}


/* Footer related Styles */

footer {
    background-color: #001931;
}

footer .footer-container {
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 120px 120px 30px;
}

footer .footer-container .social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.footer-social h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 16px;

}

.footer-icons a {
    margin-right: 16px;
    color: white;

}

footer hr {
    color: rgba(229, 231, 235, 0.137);
    margin-bottom: 30px;
}

footer .copyright {
    text-align: center;
    font-size: 16px;
    color: #FAFAFA;
    line-height: 24px;
}